<!doctype html>

<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

		<style type="text/css">


			/* width */
			::-webkit-scrollbar {
				width: 1px;
				height: 0px;
			}

			/* Track */
			::-webkit-scrollbar-track {
				background: #f1f1f1;
			}

			/* Handle */
			::-webkit-scrollbar-thumb {
				background: #888;
			}

			/* Handle on hover */
			::-webkit-scrollbar-thumb:hover {
				background: #555;
			}

			.canvas-btn {

				cursor: pointer;
				position: relative;
				font-size: 80%;


			}

			bg-transparent {
				background-color: transparent;
			}

			canvas {
				position: absolute;
				z-index: 2;
				cursor: copy;


				/*				pointer-events: none;*/
			}

			.img-block {
				background: transparent;

			}

			.bg-shadow {

				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

			}

			.circleAndNo {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				z-index: 2;
				font-size: 80%;
				font-weight: bold;
				height: 1.7rem;
				width: 1.7rem;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				cursor: pointer;
			}

			.circleAndNo elem {

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);

			}

			.circleAndNo span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				height: 180%;
			}

			.fa-paint-brush {
				pointer-events: none;
			}

			textarea {
				resize: none;
			}

			.custom-dark-popover .arrow::after {
				bottom: 1px;
				border-top-color: #343a40;
			}

			.detailBox {
				position: absolute;
				z-index: 0;
				display: block;
			}

			.detailBox-text {

				position: relative;
				max-width: 100%;
				white-space: nowrap;
				overflow: hidden;

			}

			.span-No {
				min-width: 8.5%;
			}

			.detailBox-Big {

				top: 100%;
				left: 0%;
				/* display: none; */
				word-wrap: break-word;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

			}

			.deletecircleAndNo {

				cursor: pointer;

			}

			.setting-btn {

				position: relative;

			}

			.settings-btn span {

				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				height: 1.5rem;

			}

			.box {

				height: 3rem;
				width: 4rem;
				position: relative;
				cursor: pointer;

			}

			.rtbt-subBox {

				right: 0px;
				bottom: 0px;

			}

			.ltbt-subBox {

				left: 0px;
				bottom: 0px;

			}

			.lttp-subBox {

				top: 0px;
				left: 0px;

			}

			.rttp-subBox {

				top: 0px;
				right: 0px;

			}

			.bgbt-subBox {

				bottom: 0px;

			}

			.custom-popover-header::before {
				width: 0rem !important;
			}

			.settings-btn {
				position: relative;
				cursor: pointer;
				font-size: 80%;
			}

			#overlay {

				left: 50%;
				transform: translate(-50%,0);
				z-index: 3;

			}

			.image {

				display: block;
				width: auto;
				height: auto;

			}

			.custom-hide {
				position: absolute !important;
				top: -9999px !important;
				left: -9999px !important;
			}

			.overflow-hidden {
				overflow: hidden;
			}

			.ui-dialog-titlebar {
				display: none;
			}

			.logout-btn {
				cursor: pointer;
			}

			.check-label label {
				height: 0px;
			}

			.custom-control-input:checked~.custom-control-label::before{

				background-color: #18a2b9 !important;

			}

			.back-btn {
				cursor: pointer;
			}

			/*Story Board CSS here*/
			.card img {

				max-width: 100%;

			}

			.grid-item a:hover {
				text-decoration: none;
			}

			.draft-badge {

				position: absolute;
				top: 0.5em;
				right: 0.5em;

			}

			.modal-spinner {

				position: fixed;
				width: 100%;
				height: 100%;
				/*				background-color:rgba(0,0,0,0.4);*/

			}

			.spinner {

				position: fixed;
				z-index: 1000;
				top: 50%;
				left: 50%;
				width: 4rem;
				height: 4rem;
				border-radius: 50%;
				border: 0.2rem solid transparent !important;
				border-top: 0.1rem solid #ffc107 !important;
				border-right: 0.1rem solid #ffc107 !important;
				border-bottom: 0.1rem solid #ffc107 !important;
				margin-top: -2rem;
				margin-left: -2rem;
				pointer-events: none;
				animation: spin 2s linear infinite;

			}

			@keyframes spin {
				0% { transform: rotate(0deg); }
				100% { transform: rotate(360deg); }
			}

			.upload-btn-wrapper {

				cursor: pointer;
				/*				pointer-events: none;*/

			}

			.upload-btn-wrapper input[type=file]{

				position: absolute;
				top: -1000px;

			}

			.upload-textarea-wrapper .heading {

				z-index: 2;
				pointer-events: none;

			}

			.upload-btn-text {

				font-size: 200%;

			}

			.upload-textarea-wrapper textarea {

				font-size: 200%;
				z-index: 1;

			}

			.ok-btn {

				cursor: pointer;

			}

			.ok-btn-box {

				position: absolute;
				bottom: 0px;
				right: 0px;
				display: none;
				opacity: 0;
				z-index: 3;

			}

			.ok-btn-file {

				bottom: 0px;
				right: 0px;

			}

			.ok-btn-box label {

				height: 0px;

			}

			.ok-btn-box .error-span {

				display: none;

			}

			small {

				pointer-events: none;

			}

			#upload-error {

				display: none;

			}

			.preview-image-box {

				display: none;
				opacity: 0;

			}

			.dark-overlay {
				/* Rectangle: */
				display: none;
				opacity: 0;
				background: #000000;
				z-index: 999;
				border-top-left-radius: 50%;
			}

			.text-overlay {
				/* Rectangle: */
				opacity: 1;
				background: none;
				z-index: 1000;
				/* display: none; */
			}

			.text-overlay p{
				/* Save.: */
				font-family: Avenir-Black;
				font-size: 61px;
				color: #FFFFFF;
				letter-spacing: 0.08px;
				padding-left: 20px;
				padding-top: 30px;
			}

			.close-menu-btn {
				transform: scale(0);
			}

			svg {
				cursor: pointer;
			}

			.home-btn .download-btn .text-btn {
				opacity: 0;
				transform: scale(0);
			}

			.text-banner-icon {
				max-width: 154px;
			}

			.banner-lines {
				transform: scale(1);
			}


		</style>

		<title>Make a story - Picture</title>
	</head>

	<body class="bg-info text-light">

		<!-- DARK OVERLAY -->

		<div class="dark-overlay position-absolute">
		</div>

		<!-- TEXT OVERLAY -->



		<!-- PICTURE CONTAINER -->

		<div class="container-fluid mainPage py-3 d-flex justify-content-center">

				<div class="col-lg-8 col-md-10 col-12 order-md-1 order-2 mx-0 p-0">

					<div class="img-block">

						<div id="overlay" class="position-absolute">

							<div class="detailBox bg-dark rounded" ctr='{{ctr}}'>

									<small class="border-right px-1 rounded-left">1</small>
									<small class="border-right px-1">2</small>
									<small class="border-right px-1">3</small>
									<small class="px-1 rounded-right">4</small>

							</div>

						</div>

						<div class="" id="for-printing">

							<div class="title bg-dark rounded-top py-2 px-2 mx-auto"><span class="badge badge-dark">Title</span><span class="title-badge badge">{{title}}</span></div>

							<img class="image bg-shadow mx-auto border border-dark" id="blah" src="{{image}}" data-id="{{id}}" data-comments= "{{comments}}">

							<div class="detailBox-Big position-relative mx-auto rounded-bottom">

								<div class="d-flex flex-wrap justify-content-center bg-dark rounded-bottom">

								</div>

							</div>

						</div>

					</div>

				</div>

		</div>

		<div class="text-overlay position-absolute offset-md-6 offset-lg-7" style="bottom:150px">

			<div class="d-flex align-items-end">

				<div class="col-6">

					<svg class="d-none text-banner-icon mx-auto" width="100%" viewBox="0 0 156 231" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M1 1H155V230H1V1Z" fill="#D8D8D8" fill-opacity="0.58" stroke="#FFFBFB" stroke-width="2" stroke-linejoin="round"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M1 144H155V230H1V144Z" fill="#FFFFFF"/>
					<path data-show-text="detailBox-Big" class="banner-lines" d="M139.5 160H72.5" stroke="#DADADA" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="banner-lines" d="M139.5 187H16.5" stroke="#DADADA" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
					<path class="banner-lines" d="M111.5 213H16.5" stroke="#DADADA" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
					<path data-show-text="detailBox left top" class="banner-inBox" fill-rule="evenodd" clip-rule="evenodd" d="M10 15C10 13.3431 11.3431 12 13 12H71C72.6569 12 74 13.3431 74 15V29C74 30.6569 72.6569 32 71 32H13C11.3431 32 10 30.6569 10 29V15Z" fill="#000000"/>
					<path data-show-text="detailBox right top" class="banner-inBox" fill-rule="evenodd" clip-rule="evenodd" d="M82 15C82 13.3431 83.3431 12 85 12H143.187C144.844 12 146.187 13.3431 146.187 15V29.2428C146.187 30.8996 144.844 32.2428 143.187 32.2428H85C83.3431 32.2428 82 30.8996 82 29.2428V15Z" fill="#FFFFFF"/>
					<path data-show-text="detailBox left bottom" class="banner-inBox" fill-rule="evenodd" clip-rule="evenodd" d="M10 116C10 114.343 11.3431 113 13 113H71C72.6569 113 74 114.343 74 116V130C74 131.657 72.6569 133 71 133H13C11.3431 133 10 131.657 10 130V116Z" fill="#FFFFFF"/>
					<path data-show-text="detailBox right bottom" class="banner-inBox" fill-rule="evenodd" clip-rule="evenodd" d="M82 116C82 114.343 83.3431 113 85 113H143C144.657 113 146 114.343 146 116V130C146 131.657 144.657 133 143 133H85C83.3431 133 82 131.657 82 130V116Z" fill="#FFFFFF"/>
					</svg>

				</div>

				<div class="col-6">



				</div>
			</div>


			<p></p>


		</div>

		<!-- MENU BTN -->

		<div class="position-fixed" style="right: 10px; bottom: 10px; z-index:1000">

			<div class="menu-btn position-absolute" style="right: 0px; bottom: 0px; z-index: 100">

				<svg width="92px" height="92px" viewBox="0 0 92 92" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<desc>Created with Sketch.</desc>
						<defs>
								<circle id="path-1" cx="35" cy="35" r="35"></circle>
								<filter x="-23.6%" y="-23.6%" width="147.1%" height="147.1%" filterUnits="objectBoundingBox" id="filter-2">
										<feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
										<feGaussianBlur stdDeviation="5.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
										<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
								</filter>
						</defs>
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<g id="Mobile-Copy" transform="translate(-279.000000, -717.000000)">
										<g id="Menu-btn" transform="translate(290.000000, 728.000000)">
												<g id="Oval-Copy-4">
														<use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
														<use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
												</g>
												<path d="M38.39,48.04 L44.65,48.04 L44.65,24.529 L38.39,24.529 L38.39,48.04 Z M38.39,22.394 C38.39,22.381 38.39,21.088 39.26,20.211 C39.8,19.664 40.57,19.388 41.55,19.388 C42.5,19.388 43.24,19.662 43.77,20.203 C43.84,20.275 43.9,20.351 43.96,20.429 C44.08,20.584 44.18,20.746 44.27,20.91 C44.27,20.922 44.28,20.933 44.28,20.945 C44.42,21.237 44.51,21.531 44.56,21.788 C44.58,21.868 44.59,21.942 44.6,22.014 C44.61,22.062 44.62,22.109 44.62,22.154 C44.63,22.211 44.64,22.264 44.64,22.311 C44.65,22.428 44.65,22.514 44.65,22.552 C44.65,22.563 44.65,22.571 44.65,22.573 L44.65,23.082 L41.62,23.082 C41.57,23.072 41.52,23.067 41.48,23.067 L38.39,23.067 L38.39,22.394 Z M42.38,52.063 L40.79,52.063 C40.76,52.063 40.73,52.069 40.7,52.073 L38.83,49.427 L44.24,49.427 L42.38,52.063 Z M37,48.917 C37,49.217 37.12,49.503 37.34,49.717 L40.38,54.032 C40.41,54.083 40.44,54.133 40.47,54.185 L40.59,54.355 C40.81,54.658 41.16,54.838 41.53,54.838 C41.9,54.838 42.25,54.658 42.46,54.354 L45.82,49.595 C45.86,49.535 45.9,49.473 45.91,49.431 C45.93,49.402 45.94,49.371 45.95,49.34 C45.97,49.304 45.97,49.268 45.98,49.239 C46,49.194 46.01,49.147 46.02,49.097 C46.03,49.038 46.04,48.97 46.04,48.917 L46.04,24.203 C46.04,24.059 46.01,23.921 45.96,23.794 C46.01,23.667 46.04,23.532 46.04,23.393 L46.04,22.59 C46.04,22.386 46.05,20.554 44.76,19.235 C43.97,18.416 42.88,18 41.55,18 C40.19,18 39.09,18.416 38.28,19.234 C37.02,20.504 37,22.217 37,22.4 L37,23.394 C37,23.537 37.03,23.672 37.08,23.798 C37.03,23.924 37,24.059 37,24.203 L37,48.917 Z" id="Fill-289-Copy" fill="#1C1B19"></path>
												<path d="M24.7500939,14.9230466 L32.0500939,14.8690466 C32.5400939,14.8650466 32.9400939,15.2610466 32.9500939,15.7530466 L32.9900939,21.3160466 C31.9700939,21.3240466 30.9600939,21.3320466 29.9500939,21.3390466 C29.4800939,21.3420466 29.4800939,22.0670466 29.9500939,22.0630466 C30.9700939,22.0550466 31.9800939,22.0470466 32.9900939,22.0410466 L33.0100939,24.1160466 C31.9900939,24.1240466 30.9800939,24.1310466 29.9700939,24.1380466 C29.5000939,24.1420466 29.5100939,24.8670466 29.9700939,24.8630466 C30.9900939,24.8550466 32.0000939,24.8470466 33.0100939,24.8400466 L33.0300939,26.9160466 C32.0200939,26.9230466 31.0000939,26.9310466 29.9900939,26.9390466 C29.5200939,26.9420466 29.5300939,27.6670466 29.9900939,27.6630466 C31.0100939,27.6550466 32.0200939,27.6470466 33.0400939,27.6400466 L33.0500939,29.7150466 C31.3300939,29.7280466 29.6100939,29.7420466 27.8900939,29.7540466 C27.4200939,29.7580466 27.4200939,30.4820466 27.8900939,30.4790466 C29.6100939,30.4650466 31.3300939,30.4530466 33.0600939,30.4400466 L33.0700939,32.5150466 C32.0600939,32.5230466 31.0400939,32.5310466 30.0300939,32.5390466 C29.5600939,32.5420466 29.5700939,33.2660466 30.0400939,33.2620466 C31.0500939,33.2540466 32.0600939,33.2480466 33.0800939,33.2400466 L33.0900939,35.3150466 C32.0800939,35.3230466 31.0700939,35.3310466 30.0500939,35.3380466 C29.5900939,35.3410466 29.5900939,36.0660466 30.0600939,36.0620466 C31.0700939,36.0540466 32.0800939,36.0470466 33.1000939,36.0400466 L33.1100939,38.1150466 C32.1000939,38.1230466 31.0900939,38.1300466 30.0700939,38.1380466 C29.6100939,38.1410466 29.6100939,38.8660466 30.0800939,38.8620466 C31.0900939,38.8550466 32.1100939,38.8470466 33.1200939,38.8390466 L33.1400939,40.9150466 C31.4100939,40.9280466 29.6900939,40.9410466 27.9700939,40.9550466 C27.5000939,40.9580466 27.5100939,41.6810466 27.9800939,41.6780466 C29.7000939,41.6660466 31.4200939,41.6520466 33.1400939,41.6390466 L33.1600939,43.7140466 C32.1400939,43.7220466 31.1300939,43.7300466 30.1200939,43.7380466 C29.6500939,43.7410466 29.6500939,44.4650466 30.1200939,44.4610466 C31.1300939,44.4550466 32.1500939,44.4470466 33.1600939,44.4390466 L33.1800939,46.5140466 C32.1600939,46.5220466 31.1500939,46.5300466 30.1400939,46.5380466 C29.6700939,46.5420466 29.6800939,47.2650466 30.1400939,47.2610466 C31.1600939,47.2540466 32.1700939,47.2470466 33.1800939,47.2390466 L33.2300939,53.6620466 C33.2400939,54.1530466 32.8400939,54.5550466 32.3500939,54.5590466 L25.0500939,54.6140466 C24.5600939,54.6180466 24.1600939,54.2210466 24.1600939,53.7310466 L23.8700939,15.8210466 C23.8700939,15.3300466 24.2600939,14.9270466 24.7500939,14.9230466 Z M25.0600939,55.4830466 L32.3500939,55.4280466 C33.3200939,55.4200466 34.1100939,54.6260466 34.1000939,53.6560466 L33.8100939,15.7460466 C33.8100939,14.7760466 33.0100939,13.9930466 32.0400939,14.0000466 L24.7500939,14.0550466 C23.7800939,14.0620466 22.9900939,14.8570466 23.0000939,15.8270466 L23.2900939,53.7370466 C23.2900939,54.7080466 24.0900939,55.4900466 25.0600939,55.4830466 Z" id="Fill-290-Copy" fill="#1C1B19"></path>
												<path d="M28.43,16.868042 C28.74,16.866042 29,17.117042 29,17.428042 C29,17.739042 28.75,17.993042 28.44,17.996042 C28.13,17.998042 27.87,17.747042 27.87,17.437042 C27.87,17.126042 28.12,16.871042 28.43,16.868042 Z M28.45,18.865042 C29.24,18.859042 29.87,18.211042 29.87,17.422042 C29.86,16.632042 29.21,15.994042 28.42,16.000042 C27.63,16.006042 27,16.654042 27,17.444042 C27.01,18.233042 27.66,18.870042 28.45,18.865042 Z" id="Fill-291-Copy" fill="#1C1B19"></path>
										</g>
								</g>
						</g>
				</svg>

			</div>

			<div class="opened-menu">

				<div class="close-menu-btn position-absolute" style="right: 21px; bottom: 21px; z-index: 99" scale="0">

					<svg data-name="Close Menu." width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<desc>Created with Sketch.</desc>
					<defs>
					<circle id="path-2" cx="18" cy="18" r="18"></circle>
					<filter x="-29.2%" y="-29.2%" width="158.3%" height="158.3%" filterUnits="objectBoundingBox" id="filter-2">
							<feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
							<feGaussianBlur stdDeviation="3.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
							<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
					</filter>
					</defs>
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g id="Mobile" transform="translate(-300.000000, -738.000000)">
							<g id="Group-6" transform="translate(307.000000, 745.000000)">
									<g id="Oval-Copy-5">
											<use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-2"></use>
											<use fill="#000000" fill-rule="evenodd" xlink:href="#path-2"></use>
									</g>
									<path d="M19.4782609,19.4782609 L19.4782609,25.0625 C19.4782609,25.580267 19.0402786,26 18.5,26 C17.9597214,26 17.5217391,25.580267 17.5217391,25.0625 L17.5217391,19.4782609 L11.9375,19.4782609 C11.419733,19.4782609 11,19.0402786 11,18.5 C11,17.9597214 11.419733,17.5217391 11.9375,17.5217391 L17.5217391,17.5217391 L17.5217391,11.9375 C17.5217391,11.419733 17.9597214,11 18.5,11 C19.0402786,11 19.4782609,11.419733 19.4782609,11.9375 L19.4782609,17.5217391 L25.0625,17.5217391 C25.580267,17.5217391 26,17.9597214 26,18.5 C26,19.0402786 25.580267,19.4782609 25.0625,19.4782609 L19.4782609,19.4782609 Z" id="Combined-Shape" fill="#FFFFFF" transform="translate(18.500000, 18.500000) rotate(45.000000) translate(-18.500000, -18.500000) "></path>
							</g>
					</g>
					</g>
					</svg>
				</div>

				<div class="home-btn position-absolute" style="right: 21px; bottom: 21px; z-index: 13">

					<svg data-name="Go Home." width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
							<desc>Created with Sketch.</desc>
							<defs>
									<circle id="path-3" cx="21" cy="21" r="21"></circle>
									<filter x="-39.3%" y="-39.3%" width="178.6%" height="178.6%" filterUnits="objectBoundingBox" id="filter-2">
											<feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
											<feGaussianBlur stdDeviation="5.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
											<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
									</filter>
							</defs>
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Mobile" transform="translate(-216.000000, -728.000000)">
											<g id="Home-Icon" transform="translate(227.000000, 739.000000)">
													<g id="Oval-Copy-9">
															<use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-3"></use>
															<use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
													</g>
													<polygon id="Path-9" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" points="20.9806206 11 10 22.5997074 13.1679181 22.5997074 13.1679181 32 28.4216726 32 28.4216726 22.5997074 31.9612412 22.5997074 26.9371871 17.456474 26.9371871 12.5700073 24.2937279 12.5700073 24.2937279 14.8558888"></polygon>
													<path d="M17,32 L17,26.2141829 C17.8958496,25.4999657 18.5625163,25.1428571 19,25.1428571 C19.4374837,25.1428571 20.1041504,25.4999657 21,26.2141829 L21,32 L17,32 Z" id="Path-10" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path>
											</g>
									</g>
							</g>
					</svg>

				</div>

				<div class="download-btn position-absolute" style="right: 21px; bottom: 21px; z-index: 13">


					<svg data-name="Download Image." width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
							<desc>Created with Sketch.</desc>
							<defs>
									<circle id="path-4" cx="21" cy="21" r="21"></circle>
									<filter x="-39.3%" y="-39.3%" width="178.6%" height="178.6%" filterUnits="objectBoundingBox" id="filter-2">
											<feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
											<feGaussianBlur stdDeviation="5.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
											<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
									</filter>
							</defs>
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Mobile" transform="translate(-237.000000, -675.000000)">
											<g id="save-icon" transform="translate(248.000000, 686.000000)">
													<g id="Oval-Copy-10">
															<use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-4"></use>
															<use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-4"></use>
													</g>
													<polygon id="Path-2" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" points="9 33.125 33 33.125 33 30 27.1680838 30 21 31.1228941 15.1326653 30 9 30"></polygon>
													<polygon id="Path-5" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" points="18.2102499 5.61255889 23.6444934 10 23.6444934 18.1512947 29 18.1512947 21 27.4086021 13 18.2850071 18.2102499 18.2850071"></polygon>
											</g>
									</g>
							</g>
					</svg>

				</div>

				<div class="text-btn position-absolute" style="right: 21px; bottom: 21px; z-index: 13" ctr="{{ctr}}">

					<svg data-name="Text Position." width="64px" height="64px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
							<desc>Created with Sketch.</desc>
							<defs>
									<circle id="path-5" cx="21" cy="21" r="21"></circle>
									<filter x="-39.3%" y="-39.3%" width="178.6%" height="178.6%" filterUnits="objectBoundingBox" id="filter-2">
											<feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
											<feGaussianBlur stdDeviation="5.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
											<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
									</filter>
							</defs>
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Mobile-Copy-2" transform="translate(-290.000000, -654.000000)">
											<g id="text-icon" transform="translate(301.000000, 665.000000)">
													<g id="Oval-Copy-8">
															<use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-5"></use>
															<use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-5"></use>
													</g>
													<path d="M13.3074725,28.56 L18.5594725,11.376 C18.5724725,11.334 18.6124725,11.304 18.6564725,11.304 L23.7564725,11.304 C23.8014725,11.304 23.8404725,11.333 23.8524725,11.376 L29.1814725,28.558 C29.1914725,28.591 29.1864725,28.625 29.1694725,28.648 C29.1484725,28.676 29.1174725,28.692 29.0844725,28.692 L24.9034725,28.692 C24.8584725,28.692 24.8184725,28.663 24.8064725,28.619 L23.6424725,24.745 C23.5594725,24.47 23.3054725,24.28 23.0174725,24.28 L19.2304725,24.28 C18.9374725,24.28 18.6804725,24.475 18.6024725,24.758 L17.5304725,28.617 C17.5184725,28.661 17.4774725,28.692 17.4324725,28.692 L13.4044725,28.692 C13.3724725,28.692 13.3404725,28.676 13.3234725,28.653 C13.3044725,28.626 13.2984725,28.591 13.3074725,28.56 Z M13.4044725,29.997 L17.4324725,29.997 C18.0614725,29.997 18.6184725,29.573 18.7874725,28.966 L19.7264725,25.585 L22.5324725,25.585 L23.5564725,28.993 C23.7324725,29.584 24.2864725,29.997 24.9034725,29.997 L29.0844725,29.997 C29.5274725,29.997 29.9504725,29.783 30.2184725,29.423 C30.4794725,29.066 30.5584725,28.599 30.4284725,28.174 L25.0984725,10.989 C24.9144725,10.397 24.3754725,10 23.7564725,10 L18.6564725,10 C18.0344725,10 17.4934725,10.4 17.3114725,10.995 L12.0604725,28.181 C11.9314725,28.603 12.0114725,29.068 12.2754725,29.429 C12.5414725,29.785 12.9634725,29.997 13.4044725,29.997 Z" id="Fill-388-Copy" fill="#000000"></path>
													<path d="M20.6521809,21.4540039 L22.4501809,21.4540039 C22.6561809,21.4540039 22.8501809,21.3570039 22.9721809,21.1920039 C23.0961809,21.0280039 23.1341809,20.8150039 23.0761809,20.6180039 L22.2651809,17.8560039 C22.2291809,17.7310039 22.1911809,17.6040039 22.1541809,17.4730039 C22.0731809,17.1900039 21.8001809,16.9990039 21.5171809,17.0000039 C21.2221809,17.0040039 20.9671809,17.2060039 20.8951809,17.4920039 C20.8551809,17.6440039 20.8171809,17.7930039 20.7761809,17.9360039 L20.0241809,20.6260039 C19.9691809,20.8220039 20.0091809,21.0330039 20.1321809,21.1960039 C20.2551809,21.3580039 20.4481809,21.4540039 20.6521809,21.4540039" id="Fill-389-Copy" stroke="#000000"></path>
											</g>
									</g>
							</g>
					</svg>

				</div>

			</div>



		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.js"
				integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
				crossorigin="anonymous"></script>
		<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TimelineLite.min.js" type="text/javascript"></script>

		<script type="text/javascript">

			let wht = $(window).height();
			let wwt = $(window).width();

			$( document ).ready(function() {

				$('.image').trigger('load');

				$('.dark-overlay').css({width: $(window).width(), height: $(window).height()});

				$('[data-toggle="popover"]').popover({

					animation: true,

				});

				$('[data-toggle="tooltip"]').tooltip();


			}) // DOCUMENT IS READY AND RECIZE

			$( window ).resize(function() {

				wht = $(window).height();
				wwt = $(window).width();

				$('.image').css({'max-height': wht/1.1, 'max-width' : '100%'});

				let imgWt = $('.image').width();
				let imgHt = $('.image').height();

				$('.carry-menu').height(imgHt);

				if (wwt < 767) {

					$('.carry-menu').height('auto');

				}

				$('#overlay').css({height: imgHt, width: imgWt});

				$('.detailBox-Big').css({width: imgWt + 2});

				$('.circleAndNo').each(function(key,value) {

					if ($(this).data().percentX){

						let percent = $(this).data();

						$('.circleAndNo:eq('+key+')').css({
							left: percent.percentX * $('#myCanvas').width() + $('#overlay').position().left,
							top: percent.percentY * $('#myCanvas').height(),
							'font-size': percent.mFontSize * $('#myCanvas').width(),
							height: percent.mHeight * $('#myCanvas').width(),
							width: percent.mWidth * $('#myCanvas').width()
						})

					}

				})

				$( "#dialog-public" ).dialog( "option", "position", { my: "center top", at: "center top", of: window });

			})

			$(document).on('mouseenter mouseleave','.circleAndNo', function() {

				$(this).toggleClass('bg-dark').toggleClass('bg-light');

				if ($(this).data().editFlag) { return };

				let elem = '';

				if ($(this).data().comment) {

					$(this).children().popover('toggle');

					elem = `
<div rows="3" class="p-2 w-100 bg-dark rounded text-light">`+$(this).data('comment')+`</div>
<div class="px-2"><small class="text-muted notify-in-pop py-2 text-light text-left">Login to edit or delete</small></div>
`;
					$('.popover:eq(-1)').addClass('custom-dark-popover bg-dark');

					$('.popover-body:eq(-1)').html(elem);

				}


			}) // HOVER ON MARKER IN CANVAS

			function printcommand(instance) {

				this.array = [];

				this.execute = function execute(bool_textreq) {

					this.array.push(instance);
					instance.execute(bool_textreq);

				}

				this.undo = function undo(instance) {

					let command = this.array.pop();
					command.undo();

				}

			}

			let printhidendisplay = new printcommand({

				execute: function(textreq) {

					let imgWt = $('.image').width();

					let elem = $('#for-printing').clone().addClass('custom-hide bg-dark');

					$('body').append(elem);

					// Custom Hide is image cloned from printing area and placed out of visible DOMs. Image width is given the width of its original image.
					$('.custom-hide').children('.image').width(imgWt);

					if (!(textreq)) {

						$('.custom-hide').children('.detailBox-Big').remove();

					}

					$('.custom-hide').children('.detailBox').remove();

				},

				undo: function() {

					$('.custom-hide').remove();

				}

			});

			$(document).on('click','.download-btn',function(e) {

				let aTag = `<a class="aTag" style="display:none">Click Me</a>`;

				$('body').append(aTag);

				printhidendisplay.execute(true);

				let div = document.querySelector('.custom-hide');

				html2canvas(div,{

					useCORS: true,
					backgroundColor: 'null'

				}).then(function(drawnPic) {

					let link = drawnPic.toDataURL('image/jpeg');

					$('.aTag:eq(0)').attr({href: link, download:'{{title}}'}).click();

					printhidendisplay.undo();

				});

			})

			$(document).on('click','.aTag',function(e) {

				this.click();
				this.remove();

			})

			let spinner = {

				start: function() {

					let elem = `<div class="modal-spinner"><i class="spinner"></i></div>`;

					$('body').append(elem);

				},

				end: function() {

					$('.modal-spinner').remove();

				}

			}

			$('.image').on('load', function(){

				$(this).css({'max-height': wht/1.1, 'max-width' : '100%'});

				let imgWt = $(this).width();
				let imgHt = $(this).height();

				$('.carry-menu').height(imgHt);

				if (wwt < 767 || imgHt < 300) {

					$('.carry-menu').height('auto');

				}

				$('#overlay').css({height: imgHt, width: imgWt, top: $('.title').outerHeight()});

				$('.detailBox-Big').css({width: imgWt + 1});

				let key = $('.detailBox').attr('ctr');

				let textPosn = {
					0: 'left top',
					1: 'right top',
					2: 'left bottom',
					3: 'right bottom',
					4: 'bottom',
				};

				let posn = textPosn[key].split(' ');

				if (key == 4) {

					$('.text-btn').attr({ctr:-1});
					$('.detailBox').css({display: 'none'});
					$('.detailBox-Big').css({display: 'block'});
					$('.banner-inBox').attr({fill: '#DADADA'});
					$('.banner-lines').attr({stroke: 'black'});

				} else {

					$('.detailBox-Big').css({display: 'none'});
					$('.detailBox').css({[posn[0]]: '2%',[posn[1]]: '2%'});
					$(`.banner-inBox:eq(${key})`).attr({fill: 'black'}).siblings('.banner-inBox').attr({fill: '#DADADA'});

				};

				let elem = `<div class="circleAndNo rounded-circle bg-info text-light" ><span data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span><elem>1</elem></div>`;

				let obj = JSON.parse($('.image').attr('data-comments'));

				$.each(obj, function(key, value) {

						let newObj = value.data;
						console.log(newObj);
						// $('#for-printing').prepend(elem);

						$(elem).insertBefore('.image');

						$('.circleAndNo:eq(-1)').css({
								'z-index': 4,
								left: newObj.percentX * $('.image').width() + $('#overlay').position().left,
								top: newObj.percentY * $('.image').height() + $('.title').outerHeight(),
								'font-size': newObj.mFontSize * $('.image').width(),
								height: newObj.mHeight * $('.image').width(),
								width: newObj.mWidth * $('.image').width()
						}).data({
								'percentX': newObj.percentX,
								'percentY': newObj.percentY,
								'mFontSize': newObj.mFontSize,
								'mHeight': newObj.mHeight,
								'mWidth': newObj.mWidth,
								comment: value.comment,
								editFlag: false
						}).find('elem').html(key+1);

						$('.circleAndNo').removeClass().addClass(newObj.classs);


				})

				let fullClassesNew = $('.circleAndNo').attr('class').split(' ');

				let foundClassesNew = $.grep(fullClassesNew, function(item) {

						if (item.indexOf('bg-') != -1 || item.indexOf('text-') != -1) {

								return item

						}

				});

				foundClassesNew = foundClassesNew.join(' ');

				$('.title').find('.title-badge').addClass(foundClassesNew);

				givedatatotextbox();

			});

			let givedatatotextbox = function() {

					let comments = new Array();

					let smallelem = ``;
					let bigelems = ``;

					$.each($('.circleAndNo'), function(key, value) {

							if ($(this).data().comment && $(this).css('display') != 'none') {

									comments[$(this).find('elem').html() - 1] = $(this).data().comment;

							}

					})

					let needColAdjustments = false;

					$('.detailBox-Big').find('.rounded-bottom').children().remove();

					$('.detailBox').children().remove();

					$.each(comments, function(key, value) {

							smallelem = `<small><span class="small-elem border-right px-1">` + (key + 1) + `</span></small>`;

							bigelems = `
<div class="big-text-here col-md-4 col-sm-6 col-12 text-left p-2">
<span class="badge badge-light">` + (key + 1) + `</span>
<small>` + value + `</small>
</div>`;

							$('.detailBox').append(smallelem);

							$('.detailBox-Big').find('.rounded-bottom').append(bigelems);

							$('.big-text-here').last().data({
									textLength: value.length,
									textBlock: Math.floor(key / 3)
							});

							if (value.length > 125) {

									needColAdjustments = true;

							}

					})

					$(document).on('mouseenter mouseleave', '.big-text-here', function() {

							let serNo = parseInt($(this).find('.badge').html());

							let thisCircle = $.grep($('.circleAndNo'), function(item) {

									return $(item).find('elem').html() == serNo;

							})

							$(thisCircle).trigger('mouseenter');

							$(this).toggleClass('bg-light text-dark');

					});

					$('.small-elem:eq(-1)').removeClass('border-right');

					if (!needColAdjustments) {

							return;

					}

					needColAdjustments = false;

					let spaceAval = 12;
					let rowNo = 0;
					let rowAlloted = 0;
					let cArray = [];
					let rowArray = [];

					$.each($('.big-text-here'), function(key, value) {

							let currentBlock = $(value).data().textBlock;

							let sumLength = 0;

							let totalSize = $.grep($('.big-text-here'), function(item) {

									if ($(item).data().textBlock == currentBlock) {

											sumLength += $(item).data().textLength;

									}

							});

							let ownPercent = $(value).data().textLength / sumLength * 100;

							let ineed = function() {

									if (ownPercent <= 60) {

											return 4;

									}

									if (ownPercent <= 90) {

											return 8;

									}

									if (ownPercent <= 100) {

											return 12;

									}

							}

							let giveSpace = function(needed, item) {

									if (needed <= spaceAval) {

											spaceAval = spaceAval - needed;

											cArray.push(item);

											return rowNo;

									}

									cArray = [];

									rowNo = rowNo + 1;

									spaceAval = 12;

									return giveSpace(needed, item);

							}

							let needed = ineed();

							rowAlloted = giveSpace(needed, $(this));

							$(this).data({
									neededSpace: needed,
									rowAlloted: rowAlloted
							});

							rowArray[rowAlloted] = cArray;

					});

					$.each(rowArray, function(key, value) {

							let className = function() {

									if (value.length == 1) {

											value[0].toggleClass('col-md-4 col-md-12 col-sm-6 col-sm-12');

											return 'col-md-12';

									}

									if (value.length == 3) {

											value[2].toggleClass('col-sm-6 col-sm-12');
											return 'col-md-4';

									}

									if (value.length == 2) {

											if (value[0].data().neededSpace == value[1].data().neededSpace) {

													value[0].toggleClass('col-md-4 col-md-6');
													value[1].toggleClass('col-md-4 col-md-6');

													return 'col-md-6 col-md-6';

											}

											if (value[0].data().neededSpace == 8) {

													value[0].toggleClass('col-md-4 col-md-8');

													return 'col-md-8 col-md-4';

											}

											value[1].toggleClass('col-md-4 col-md-8');

											return 'col-md-4 col-md-8';


									}

							}

							className();

					})

			}

			var tl1 = new TimelineLite({paused:true});
			var tl2 = new TimelineLite({paused:true});
			var tl3 = new TimelineLite({paused:true});
			var tl4 = new TimelineLite({paused:true});
			var tl5 = new TimelineLite({paused:true});

			tl1.to('.menu-btn', 0.2, {scale: 0, opacity: 0,ease:Power2.easeInOut, transformOrigin:"50% 50%"})
				 .to('.close-menu-btn', 0.1, {scale: 1, ease:Power2.easeInOut, transformOrigin:"50% 50%"});
			tl2.to('.dark-overlay', 0.3, {opacity: 0.75, borderTopLeftRadius: 0, display: 'block', ease:Power2.easeInOut, transformOrigin:"60% 60%"});
			tl3.to('.home-btn',0.6, {right:95, bottom:20, scale: 1, opacity: 1, ease:Elastic.easeOut.config(1,0.9), transformOrigin:"50% 50%",delay:0.1});
			tl4.to('.download-btn',0.6, {right:70, bottom:70, scale:1, opacity: 1, ease:Elastic.easeOut.config(1,0.9), transformOrigin:"50% 50%",delay:0.1});
			tl5.to('.text-btn',0.6, {right: 20, bottom:95, scale:1, opacity: 1, ease:Elastic.easeOut.config(1,0.9), transformOrigin:"50% 50%",delay:0.1});

			$('.menu-btn').on('click', () => {
				tl1.play();
				tl2.play();
				tl3.play();
				tl4.play();
				tl5.play();
				$('.close-menu-btn').find('svg').data('status','open');
			});

			$('svg').on('mouseenter mouseleave', function() {

				if ($(this).parent('.menu-btn').length) return console.log('Menu btn pressed');

				if ($('.close-menu-btn').find('svg').data().status === 'closed') return console.log('close button pressed.');

				if ($(this).attr('data-name') === 'Close Menu.') {
					return $('.text-overlay>p').html($(this).attr('data-name'));
				}

				if ($(this).attr('data-name') === 'Text Position.') $('.text-overlay').find('svg').toggleClass('d-none');

				let presentColor = {
					circle: $(this).find('use:eq(1)').attr('fill'),
					stroke: $(this).find('path').attr('fill') || $(this).find('polygon').attr('stroke')
				};

				$('.text-overlay>p').html($(this).attr('data-name'));
				$(this).find('use:eq(1)').attr('fill', presentColor.stroke);
				$(this).find('path').attr('fill', presentColor.circle);
				$(this).find('polygon').attr('stroke', presentColor.circle);

			});

			$('.close-menu-btn').on('click',function() {
				$(this).find('svg').data('status','closed');
				console.log('closed menu');
				$('.text-overlay>p').html('');
				tl1.reverse();
				tl2.reverse();
				tl3.reverse();
				tl4.reverse();
				tl5.reverse();
			});

			$('.text-btn').on('click',function() {
				var tl6 = new TimelineLite();
				let ctr = $(this).attr('ctr');
				ctr++;
				if (ctr == 4) {
					$(this).attr({ctr:-1});
					$('.detailBox').css({display:'none'});
					$('.detailBox-Big').css({display:'block'});
					tl6.to(`.banner-inBox`,0.05,{fill:'#DADADA', ease:Power2.easeInOut})
						 .to(`.banner-lines`,0.05,{stroke:'black', ease:Power2.easeInOut});
					return console.log('done');
				};
				$('.detailBox-Big').css({display:'none'});
				console.log(ctr);
				let myData = $(`.banner-inBox:eq(${ctr})`).attr('data-show-text').split(' ');
				$('.detailBox').css({left:'',right:'',top:'',bottom:'',[myData[1]]: '2%',[myData[2]]: '2%',display:'block'});
				tl6.to(`.banner-inBox:eq(${ctr})`,0.05,{fill:'black', ease:Power2.easeInOut})
					 .to(`.banner-lines`,0.05,{stroke:'#DADADA', ease:Power2.easeInOut})
					 .to($(`.banner-inBox:eq(${ctr})`).attr('fill','black').siblings('.banner-inBox'),0.05,{fill:'#DADADA',ease:Power2.easeInOut})
				$(this).attr({ctr});
			});

			$('.dark-overlay').on('click',() => {
				$('.close-menu-btn').trigger('click');
			})

			$('.home-btn').on('click',() => {
				let token = '{{token}}';
				if (token.length > 0) return window.location.assign(`/home/{{token}}`);
				return window.location.assign('/home/notloggedin');
			})

		</script>

	</body>

</html>
